* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #303130;
  color: whitesmoke;
}

.logo img {
  padding: 10px;
  width: 150px;
}
.btzap{
  position:fixed; bottom:20px; right:20px; z-index:1000;
}
.btzap img {
  width:60px; height:60px;
}

header {
  background-color: #111;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

header nav a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: #51f55f;
}

.section {
  padding: 3rem 2rem;
  border-bottom: 1px solid;
}

#contato {
  background-color: #161616;
}

.section h1, .section h2 {
  margin-bottom: 20px;
}

.redes h2 {
  margin-bottom: 15px;
}

.rdsoc {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.rdsoc a {
  color: #3ddd4b;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#catalogo h1 {
  font-size: 2rem;
  color: white;
}

.portfolio-box {
  background-color: #303130;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-box h2 {
  margin-top: 10px;
  margin-bottom: 21px;
}

.portfolio-box h3 {
  color: #51f55f;
}

.portfolio-box .gallery {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.portfolio-box .gallery img {
  height: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.parede img {
  margin-top: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  height: auto;
}

@media (max-width: 768px) {
  .logo img {
    width: 100px;
  }
  
  .btzap img {
  width:40px; height:40px;
}


  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .rdsoc {
    flex-direction: column;
  }

  .portfolio-box .gallery img {
    max-height: 200px;
  }

  .portfolio-box .gallery {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
  }

   .portfolio-box .parede img {
    max-height: 250px;
  }

  .portfolio-box .parede {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
  }
  .section {
    padding: 2rem 1rem;
  }
}


