* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #303130;
  color: whitesmoke;
}

.logo img {
  padding: 10px;
  width: 150px;
}
.btzap{
  position:fixed; bottom:20px; right:20px; z-index:1000;
}
.btzap img {
  width:60px; height:60px;
}
header {
  background-color: #111;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

header nav a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: #51f55f;
}

.section {
  padding: 3rem 2rem;
  border-bottom: 1px solid;
}

#contato {
  background-color: #161616;
}

.section h1, .section h2 {
  margin-bottom: 20px;
}

.redes h2 {
  margin-bottom: 15px;
}

.rdsoc {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.rdsoc a {
  color: #3ddd4b;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#catalogo h1 {
  font-size: 2rem;
  color: white;
}

.portfolio-box {
  background-color: #303130;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-box h2 {
  margin-top: 10px;
  margin-bottom: 21px;
}

.portfolio-box h3 {
  color: #51f55f;
}


.portfolio-box .gallery {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  margin-top: 1rem;
}
.portfolio-box .gallery img {
  height: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
 #estudos h1{
  color: #3ddd4b;
 }
 .box{
        padding: rem;
    }
.box h1{
    color: white;
}
.arte img {
  width: auto;
  max-height: 40rem;
  border-radius: 0.8rem;
  height: 100%;
}
.arte{
  border:solid 2px #d5e4d6;
  border-radius: .8rem;
  padding: 1rem;
  margin-right: 3rem;

}
.arte h1{
  color: #ffffff;
}
.gallery1{
  
    display: flex;
    align-items: center;
    align-content:bottom;
        gap: 1rem;
        max-width: 88rem;
        height: 50rem;
        overflow-x: scroll;
        overflow-y: hidden  ;
        white-space: nowrap; 
        scrollbar-width: none;
}
.section1 {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 128rem;
    height: 50rem;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: hidden  ;
    }

.section1::-webkit-scrollbar,
.gallery1::-webkit-scrollbar {
  display: none;
}


#scroll-left1{
    all: unset;
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.048));
    position: absolute;
    left: 1px; /* Lateral esquerda */
    z-index: 10;
    color: white;
    padding: 8rem 7rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
}
#scroll-right1{
    background: linear-gradient(to left,#000000, rgba(41, 39, 39, 0));
    position: absolute;
    border: none;
    right: 1px; /* Lateral esquerda */
    z-index: 10;
    color: white;
    padding: 8rem 7rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
}
@media (max-width: 768px) {
  .logo img {
    width: 100px;
  } 
  .btzap img {
  width:40px; height:40px;
}
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .rdsoc {
    flex-direction: column;
  }
  .portfolio-box .gallery img {
    max-height: 200px;
  }
  .portfolio-box .gallery {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
  }
   .portfolio-box .parede img {
    max-height: 250px;
  }
  .portfolio-box .parede {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
  }
  .section {
    padding: 2rem 1rem;
  }
    #scroll-left1, #scroll-right1 {
    font-size: 1.5rem;
    padding: 5px;
  }
}


